Proceso-Basico-De-Colaboracion-En-Git-Or-GitHub.txt
EjemploControlarBackEndAndBBDDSinConexionEnFront.txt
Errores-Control-Frontend-Optima.txt
Informacion-Propia-Proyecto
Configuración-Predeterminada-Sistema-ERP.docx
EmailUtilizado.txt
Documentacion-Sistema-ERP/Tablas